[client]
port		= 3306
socket		= /tmp/mysql.sock

##### The MySQL server #####

[mysqld]

##### Basic #####
server-id = 1		# need to modify
port		= 3306
user		= mysql
basedir		= /usr/local/mysql/
datadir		= /usr/local/mysql/data
tmpdir		= /dev/shm
socket		= /tmp/mysql.sock
log-error	= error.log
slow-query-log-file = slow.log
skip-name-resolve

character-set-server=utf8
lower_case_table_names=1
init_connect='SET NAMES utf8'
collation-server=utf8_general_ci

explicit_defaults_for_timestamp

slow-query-log
long_query_time = 1

back_log = 500
max_connections = 3000			### 1000
max_user_connections=3000		### 1000
max_connect_errors = 3000		### 1000
#wait_timeout=100			### default 28800
#interactive_timeout=100		### default 28800
connect_timeout = 20

transaction_isolation = REPEATABLE-READ	### 'READ-COMMITTED' would be better
performance_schema=0		### default 1
max_allowed_packet = 16M
table_open_cache = 4096
table_definition_cache=4096
sort_buffer_size = 8M		### 128K
join_buffer_size = 256K
tmp_table_size = 16M		### 32M   default 16M
max_heap_table_size = 16M
query_cache_type=0
query_cache_size=0
bulk_insert_buffer_size=16M
thread_cache_size=64
thread_stack = 256K

##### InnoDB #####
default-storage-engine=INNODB
innodb_data_file_path=ibdata1:1024M:autoextend
innodb_buffer_pool_size = 2G		### need to modify, 50%~75% of physics memory.
innodb_log_file_size = 256M
innodb_log_buffer_size=16M
innodb_log_files_in_group = 3
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=10     ### default 50
innodb_sync_spin_loops=30
innodb_max_dirty_pages_pct=50   ### default 75
innodb_support_xa = 0           ### default 1
innodb_thread_concurrency = 0		### old 16
innodb_thread_sleep_delay = 50		### old 0
innodb_concurrency_tickets = 1000
log_bin_trust_function_creators=1
#innodb_flush_method=O_DIRECT	### payment system,open it
innodb_file_per_table=1
innodb_read_io_threads=4	# need to modify, for ssd: 16
innodb_write_io_threads=4	# need to modify, for ssd: 16
innodb_io_capacity=100		# need to modify, for ssd: 2000
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_purge_threads=1
#innodb_purge_batch_size = 300
innodb_old_blocks_pct=37
innodb_change_buffering=all
innodb_stats_on_metadata=OFF
innodb_buffer_pool_instances=1  ### default 8 or 1(if ibp < 1GB),	innodb_buffer_pool_instances=innodb_buffer_pool_size/4,	and max value = 8
innodb_additional_mem_pool_size = 16M
innodb_rollback_on_timeout=1

##### Master #####
log-bin=mysql-bin
log-slave-updates
binlog_format = mixed		### 'row' would be better
max_binlog_size = 1024M
binlog_cache_size = 1M
#expire-logs-days = 7		### default 0

##### GTID #####
# gtid-mode = on
# enforce-gtid-consistency=1

##### Slave #####
slave-net-timeout=30
#max-relay-log-size = 256M	### default 1024M
relay-log=mysql-relay-bin
skip-slave-start
replicate-same-server-id=0
relay_log_purge=1	### for MHA: 0
relay_log_recovery=ON
log_slow_slave_statements=ON

##### MyISAM #####
skip-external-locking
key_buffer_size = 8M	### 64M  myisam index buffer
read_buffer_size = 1M		### default 128K  Each thread sequential scan for myisam table
read_rnd_buffer_size = 1M	### default 256K  Each thread rnd scan for myisam table
myisam_sort_buffer_size = 32M
myisam_max_sort_file_size = 64M
myisam_repair_threads = 1

###############################
#### FOR Percona 5.6
# extra_port = 3345

#thread_handling=pool-of-threads
#thread_pool_oversubscribe=3	### default 3 or don't set
###############################

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash
prompt=\u@\h:\p [\d]>
max_allowed_packet = 16M
default_character_set = utf8

[myisamchk]
key_buffer_size = 64M		### 512M
sort_buffer_size = 512k		### 512M
read_buffer = 2M		### 8M
write_buffer = 2M		### 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 8192
#malloc-lib= /usr/local/mysql/lib/mysql/libjemalloc.so

